.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left p {
    font-size: 15px;
    line-height: 1.8;
    max-width: 100%;
}

.footer-content-left .logo {
    width: 140px;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer-social-icons img {
    width: 40px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
}

.footer-social-icons img:hover {
    background-color: #fff4f2;
    border-color: tomato;
}

.footer-content-center h2, .footer-content-right h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.footer-content-center ul, .footer-content-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content-center ul li, .footer-content-right ul li {
    cursor: pointer;
    transition: 0.2s;
}

/* تنسيق الروابط عشان شكلها يبقى حلو */
.footer-content-center ul li a, .footer-content-center ul li a:visited {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

.footer-content-center ul li:hover {
    color: tomato;
    padding-right: 5px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: gray;
    border: none;
}

.footer-copyright {
    text-align: center;
}

@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        text-align: center;
    }
    
    .footer-content-left, .footer-content-right, .footer-content-center {
        align-items: center;
    }
    
    .footer-copyright {
        font-size: 13px;
    }
}