.offers-page {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    min-height: 60vh;
}

.offers-header {
    text-align: center;
    margin-bottom: 50px;
}

.offers-header h1 {
    font-size: 40px;
    color: #ff4c24;
    font-weight: 800;
}

.offers-header p {
    color: #676767;
    font-size: 18px;
}

.offers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;
    margin-bottom: 50px;
}

.no-offers {
    grid-column: 1 / -1; /* ياخد العرض كله */
    text-align: center;
    margin-top: 50px;
    color: #555;
}

.no-offers h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

@media (max-width: 750px) {
    .offers-header h1 {
        font-size: 30px;
    }
    .offers-page {
        width: 90%;
    }
}